.App {
  text-align: center;
  background-color: #5458f6;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #5458f6;
}

.App-link {
  color: #61dafb;
}

.LoginPage{
  display: flex;
  height: 90vh;
}

.LoginPage_image{
background-image: url("./Img/background.jpg");
background-repeat: no-repeat;
background-size: cover;
width: 50vw;

}

.LoginPage_form{
  width: 50vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
